
/* General */

.omeros-viewall a, .omeros-viewall a:visited {
	font-family : Merriweather, Georgia, serif;
	color : #ffffff;
	text-decoration : none;
}

.mdl2-share {
	color : #348FC3;
}

#omeros-announcements-header {
	background-color : #001E2D;
	height: 48px;
	font-family : Merriweather, Georgia, serif;
	color : #ffffff;
}

#omeros-announcements-heading {
	font-size : 24px;
	line-height : 32px;
	display : inline-block;
}

#omeros-announcements-heading img{
	padding : 7px 10px;
}

#omeros-announcements-heading div {
	padding : 8px 0px;
	display : inline-block;
}

#omeros-announcements-viewall {
	font-size : 14px;
	float : right;
	padding : 14px;
}

#omeros-announcements-imageleft img {
	width : 100%;
	height : 465px;
}

.announcement-image-text {
	position: absolute;
    bottom: 0px;
    width: 100%;
    color: #ffffff;
    padding: 16px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #005984 );
}

.announcement-image-text small {
	font-size : 14px;
	line-height : 22px;
	font-weight : regular;
	font-family : Work Sans;
}

#omeros-announcements .row {
	margin : 0px;
}

#omeros-announcements .row .col-sm-6 {
	padding : 0px;
}

#omeros-announcements .list-group {
	border-bottom : 2px solid #f1f1f1;
	border-right : 2px solid #f1f1f1;
	height: 465px;
    overflow: auto;
	margin-bottom: 0px;
}

#omeros-announcements .omeros-announcement {
	padding : 32px 0px;
	transition: box-shadow .3s;
	border-radius : 0px !important;
	border-left: 4px solid white;
}

.announcement-content .row {
	margin : 0px;
}

#omeros-announcements .omeros-announcement:hover {
	box-shadow : 5px 5px 20px #F1F1F1;
	border-left: 4px solid #348FC3;
	background-color : #ffffff;
	z-index : 2;
}

#omeros-announcements .omeros-announcement a , #omeros-announcements .omeros-announcement a:visited {
	text-decoration : none;
	color : #000000;
}

#omeros-announcements .omeros-announcement-imagediv img {
	width : 64px;
	height : 64px;
}

#omeros-announcements .omeros-announcement-textdiv div {
	font-size: 20px;
    font-family: Merriweather, Georgia, serif;
	line-height : 28px;
}

#omeros-announcements .omeros-announcement-textdiv small {
	font-size : 14px;
	line-height : 20px;
	font-weight : regular;
	font-family : Work Sans;
}

#omeros-announcements .omeros-announcement-icondiv {
	padding: 30px 16px 0px 20px;
    font-size: 20px;
	color : #358FC3;
}

.announcement-textdiv-content {
	font-size : 20px;
	line-height : 28px;
	font-weight : regular;
	font-family : Merriweather, Georgia, serif;
	overflow : hidden;
	text-overflow : ellipsis;
	display : -webkit-box;
	-webkit-line-clamp : 2;
	-webkit-box-orient : vertical;
}

/* General End */



@media only screen and (min-width: 1680px) and (max-width: 2560px) {
	
/* Anouncements */

.omeros-ellipses {
	position: absolute;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 4px 10px 10px 10px;
    line-height: 10px;
    bottom: 0;
    z-index: 10;
    font-size: 20px;
    right: 48%;
}

/* Announcements End */

}



@media only screen and (min-width: 1200px) and (max-width: 1679px) {
	
/* Anouncements */


.omeros-ellipses {
	position: absolute;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 4px 10px 10px 10px;
    line-height: 10px;
    bottom: 0;
    z-index: 10;
    font-size: 20px;
    right: 48%;
}

/* Announcements End */

}



@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
/* Anouncements */

.omeros-ellipses {
	position: absolute;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 4px 10px 10px 10px;
    line-height: 10px;
    bottom: 20;
    z-index: 10;
    font-size: 20px;
    right: 48%;
}

/* Announcements End */

}



@media only screen and (min-width: 768px) and (max-width: 991x) {
	
/* Anouncements */

.omeros-ellipses {
	position: absolute;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 4px 10px 10px 10px;
    line-height: 10px;
    bottom: 20;
    z-index: 10;
    font-size: 20px;
    right: 48%;
}

/* Announcements End */

}
